# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.aws
.azure
.cache
.bash_history
.bash_logout
.bashrc
.config/
.docker/
.kube
.gitconfig
.landscape/
.motd_shown
.npm/
.profile
.sudo_as_admin_successful
.vscode-server/        


npm-debug.log*
yarn-debug.log*
yarn-error.log*
.viminfo
.skaffold/cache
.skaffold/config
